*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    background-color: #202040;
    padding: 4rem;
    height: 100rem;
    width: 100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

figure{
    width: 60rem;
    height: 60rem;
    margin-right: 4rem;
}

figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*in porportie uitgerekt worden om 60rem te kunnen vullen*/
}

button{
    padding: 2rem 12rem;
    background-color: red;
    color: #eeeeee;
    font-size: 2.4rem;
    font-family: sans-serif; 
}

button:hover{
    cursor: pointer;
}